input[type=text]
{
    padding: 15px 30px;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #80808047;
    float: left;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 3px 5px #efefef;
    margin-bottom: 1px;
    color:#757575;
}
input[type="text"]:focus
{
    border-bottom: 1px solid #9417d3; 
    outline: none;
    color: #333333;
    
}
form.example button {
    float: left;
    width: 18%;
    padding: 14px;
    background: #2196F3;
    color: white;
    font-size: 12px;
     border-left: none;
    cursor: pointer;
    border: none;
    outline: none;
}
#map {
	z-index: -99999999 !important;
    position:inherit !important;
    width: 100%;
    height: 100%;
    overflow:hidden;
    }
html, body {
    padding: 0px;
   top: 0px;
    margin: 0px !important;
}
input
{
 
}
.floating-panel 
{
	width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 9999;
    overflow: hidden !important;
    -moz-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select:none;
    user-select:none;
  	-o-user-select:none;
   	-webkit-touch-callout: none;
}
.floating-panel2 
{
	width: 80px;
    left: 10px;
    bottom: 25%;
    position: absolute;
    z-index: 5;
    overflow: hidden !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
    -webkit-touch-callout: none;
}

.button_group
{
    /* float: left !important;
     margin-top: 10px;
     position: absolute;
     bottom: 0px; */
     
         /* float: right !important; */
    /* margin-top: 10px; */
    position: absolute;
    bottom: 10px;
    /* background: #fff; */
    /* width: 100%; */
    right: 10px;
    z-index: 9999999;
}
#helpbutton
{
    background-color: #E91E63;
    color : #fff;
     border: none;
    outline: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer; 
}
#endbutton
{
   margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
    border: none;
    outline: none;
    background: #6742c0;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
#sharebutton
{
    background-color: #4CAF50;
    color: #fff;
    border: none;
    outline: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}
#shareRoute
{
    background-color: darkolivegreen;
    color: #fff;
    border: 1px solid #ccc;
    height: 25px;
    font-weight: bold;
}
.start-btn
{
    padding: 10px;
    border: none;
    outline: none;
    background: #6742c0;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}
.ExtimatedTime
{
    margin-top: 12px;
    margin-bottom: 5px;
    padding: 5px 10px 5px 5px;
    background: #333;
    float: right;
    font-size: 10px;
    color: #fff;
    font-family: sans-serif;
    border-radius: 5px 0px 0px 5px;
 }
 .source-grn
 {
 width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    background: green;
        top: 18px;
    left: 10px;
    }
     .source-red
 {
 	width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    background: red;
    top: 64px;
    left: 10px;
  }
    
    .modal-dialog  
	{
	    margin: 50% 10px 10px 10px !important;
	}
	
	   .modal-dialog modal-sm
	{
	    margin: 50% 10px 10px 10px !important;
	}
	
	.btn-primary
	{
	    background-color: #774fcb !important;
	    border-color: #774fcb !important;
	} 
	.modal-header
	{
		border-bottom:none !important;
	}


.modal-dialog.modal-sm{
    margin:50px auto!important;
}