<div class="modal-header">
  <h5 class="modal-title">RouteDeviation Details of {{routedeviationData.tripId}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('refreshContent')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-r-2">
  <div class="row">
    <div class="col-md-6">
      <h5>ID</h5>
      <h4>{{routedeviationData.tripId}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Trip Request ID</h5>
      <h4>{{routedeviationData.tripRequestId}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Citizen Mobile No</h5>
      <h4>{{routedeviationData.citizenMobileNumber}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Vehicle Number</h5>
      <h4>{{routedeviationData.rcNumber}}</h4>
    </div>
    <div class="col-md-6">
      <h5>RFID</h5>
      <h4>{{routedeviationData.rfId}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Request ID</h5>
      <h4>{{routedeviationData.requestId}}</h4>
    </div>
    <div class="col-md-6">
      <h5>DL Number</h5>
      <h4>{{routedeviationData.dlNumber}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Serial No</h5>
      <h4>{{routedeviationData.serialNumber}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Driver Name</h5>
      <h4>{{routedeviationData.driverName}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Driver Contact No</h5>
      <h4>{{routedeviationData.driverContactNumber}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Owner Name</h5>
      <h4>{{routedeviationData.ownerName}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Owner Contact No</h5>
      <h4>{{routedeviationData.ownerContactNumber}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Source LatLng</h5>
      <h4>{{routedeviationData.slatLng}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Destination LatLng</h5>
      <h4>{{routedeviationData.dlatLng}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Source Location</h5>
      <h4>{{routedeviationData.slocation}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Destination Location</h5>
      <h4>{{routedeviationData.dlocation}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Deviation LatLng</h5>
      <h4>{{routedeviationData.location}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Deviation Location</h5>
      <h4>{{routedeviationData.geoLocation}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Deviatione Time</h5>
      <h4>{{routedeviationData.deviationTime}}</h4>
    </div>
    <div class="col-md-6">
      <h5>State ID</h5>
      <h4>{{routedeviationData.stateId}}</h4>
    </div>
    <div class="col-md-6">
      <h5>District ID</h5>
      <h4>{{routedeviationData.districtId}}</h4>
    </div>
    <div class="col-md-6">
      <h5>City ID</h5>
      <h4>{{routedeviationData.cityId}}</h4>
    </div>
  </div>
</div>