.navbar-dark .navbar-nav .nav-link {
    color: $white !important;
}
.navbar {
    &-main{
        z-index: 999;
    }
    &-brand{
        font-weight: 400;
        font-size:14px !important;
        margin-top: -4px;
        i{
            font-size:20px;
            padding:8px;
            padding-left:0px;
        }
    }
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 1rem !important;
    &-nav{
        & li{
            font-size:12px !important;
            font-weight: 500 !important;
            padding-left:15px;
            display: list-item;
            text-align: -webkit-match-parent;
            border-bottom: 2px solid $abhaya-primary-color;
            padding-bottom: 0px;
            margin-bottom: -4px;
            & a{
                border-bottom: 2px solid $abhaya-primary-color;
                &:hover, &.active{
                    color:$white;
                    border-bottom: 2px solid $white;
                }    
            }
            &.active{
                color:$white !important;
                border-bottom: 2px solid $white !important;
            }
        }
    }
}

.dropdown{
 &-menu{
    position: absolute;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color:$primary-color !important;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0px 3px 8px 1px #c3c3c3;
    border-radius: .25rem;
    border: 0 !important;
    &-right{
        & a{
            &:after{
                border:none!important;
            }
        }
    }
}
&-item{
    display: block;
    width: 100%;
    padding: .6rem 1.5rem !important;
    clear: both;
    font-size: 13px;
    font-weight: 500 !important;
    color:$primary-color !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $light-grey !important;
    cursor: pointer;
    &a{
        font-size:14px;
        font-weight: 500 !important;
        color:$primary-color !important;
        text-align: inherit;
        &a:hover{
            color:$abhaya-primary-color !important;
            background-color: transparent;
        }
    }
    &.active{
        color:$abhaya-primary-color !important;
        text-decoration: none;
        background-color: transparent !important;
    }
    &:after{
        content: '';
        position: absolute;
        left: 18px;
        top: -6px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 10px solid $white;
        border-top-left-radius: 40%;
        clear: both;
    }
    &:hover{
        background: transparent !important;
        color:$abhaya-primary-color !important;
    }
    &:last-child{
        border-bottom: 0px solid $light-grey;
    }
}
}
.navbar-nav li a:hover,.active{
    color:$abhaya-primary-color !important;
    background-color: transparent;
}
.header{
    height:80px;
    background-color: $white;
    position: relative;
    -webkit-box-shadow: 0px 3px 7px rgba(0,0,0,0.06);
    -moz-box-shadow:  0px 3px 7px rgba(0,0,0,0.06);
    box-shadow: 0px 3px 7px rgba(0,0,0,0.06);
    &-img{
        // width:44.5%;
        // margin-left:-6px;
        height:75px;
        &.h62{
            height:62px;
        }
    }
    &-filter{
        background-color:#FBFCFC;
        height:50px;
        border-radius: 3px;
        padding:5px;
        &-select{
            outline: 0px !important;
            padding-right:10px;
            padding-top: 2px;   
            & select{
                text-decoration: none;
                background-color: transparent;
                font-size: 14px;
                border:0px;
                color:#48596B !important;
                padding-left:10px;
                padding-right:3px;
           }
       
        }
        &-search{
            border-left: 1px solid #EDEDED;
            width: calc(100% - 88px);
            outline: 0px !important;
            &-box{
                width: calc(100% - 31px) !important;
                background-color: transparent !important;
                border: 0px !important;
                font-weight: 400;
                line-height: 1.5;
                color: #AEAFAF !important;
                background-clip: padding-box;
                border-radius: .25rem;
                float: left;
             }
        }
        &-label{
            color: #8C8C8C;
            font-size: 13px;
            margin-bottom: 0px;
            padding-top: 10px;
            padding-left: 10px;
            padding-right:5px;
            margin: 0px auto;
        }
    }
    &-profile{
        cursor: pointer;
        img{
            width: 40px;
            padding-top: 2px;
        }
        float: right;
        & h5{
            padding-top: 5px;
            padding-left: 10px;
            padding-right: 5px;
            color: #48596B;
            font-weight: bold;
            float: left;
            font-size: 14px;
            & span{
                font-size: 13px;
                color: #9B9B9B;
                font-weight:400;
            }
        }
        & .arrow{
            &-down{
            float: left; 
            color: #9B9B9B;
            width: 14px;
            border-radius: 2px;
            padding: 5px;
        }
        }
    }
}

@media (min-width:568px) and (max-width:1024px){
    .navbar-nav{
        display: -webkit-inline-box;
    }
}