
//	NAMESPACE
$global: "abhaya";


//	COLORS
//	===============================
// $abhaya-primary-color:              #18BFFF;
$abhaya-primary-color:              #0055A4;
$abhaya-secondary-color:              #024E46;
$abhaya-green:                        #3ab14e;
$abhaya-red:                          #f71a1a;
$white:                              #ffffff;
$blue-lighter:                      #F0FAFF;
$primary-color:                     #48596B;
$grey-light :                       #AEAFAF;









$page-bg: #282f32;
$red: #f82b60;
$pink-light: #ff4e7d;
$light-pink: #999;
$light-grey : #FBFCFC;
$footer-light-text:#9B9B9B;



$shadow-color : #5b5b5b;
$primary-color:#48596B;
$secondary-color:#8C8C8C;
$line-color:#f4f4f4;


$navy-blue:                         #004f8b;

$orange-lighter:                    #00ffff;
$orange-light:                      #FFAF4C;
$green-dark:                        #48BB78;
$red-dark:                          #F64938;

$navyblue-light:                    #495a6c;






$link-color:                        #404040;
$link-color-hover:                  #DD1D21;

$green-ultralight:                  #cce6d9;
$green-lighter:			            #D9EDE3;
$green-light:			            #99CEB4;
$green:                             #66B58E;
$green-dark:			            #339D69;
$green-darker:			            #008443;
$yellow:                            #FCB400;
$yellow-ultralight:                 #fef5cd;
$yellow-lighter:                    #ffe566;
$yellow-light:                      #FBCE07;
$yellow-dark:                       #F49600;
$yellow-pale:                       #fdeb9c;

$red-ultralight:                    #FFFBF2;
$red-lighter:                       #f8d2d3;
$red-light:                         #FFDEDB;
$red-dark:                          #FE6352;

$grey-form:                         #adadad;
$form-control-border:               #b8b8b8;   // #A6A6A6
$table-row-border:                  rgba(217, 217, 217, 0.8);   // #D9D9D9
$check-radio-border:                #666666;                    // #666666
$disabled-border:                   rgba(166, 166, 166, 0.8);   // #A6A6A6

$blue:                              #3399ff;
$black:                             #000000;

$error:                             #fee6dc;
$warning:                           #fcf8e3;
$icon-hover-bg:                     rgba(0, 0, 0, 0.1);         // #000000