
<input type="text"
bsDatepicker
#dp="bsDatepicker" 
[value]="value" 
[minDate]="minDate"
[(bsValue)]="datePickerModel.newDate"
[maxDate]="maxDate"
[datesDisabled]="datePickerModel.disabledDates"
[daysDisabled]="datePickerModel.daysDisabled"
[placement]="datePickerModel.placement"
placeholder=" -- Search Date --"
[outsideClick]="datePickerModel.outsideClick"
[bsConfig] = "{showWeekNumbers:datePickerModel.showWeekNumbers,containerClass: datePickerModel.containerClass,adaptivePosition:datePickerModel.adaptivePosition}"
(bsValueChange)="valueChanged($event)"
>
<!--(change)="valueChanged($event.target.value)"-->
<button *ngIf="datePickerModel.buttonRequired" type="button" style="position: absolute" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen" class="btn btn-primary" style="position: absolute;right: 16px;margin-top: -7px;"
>{{datePickerModel.buttonName}}</button>

