
<footer class="footer page-footer font-small indigo">
  <div class="container">
  <div class="row no-gutters">
    <div class="col-md-3 p-t-1 text-left footer-login-left">
    <img src="assets/images/ap-logo.svg">
    </div>
    <div class="col-md-6 p-t-2">
        <div class="footer-copyright text-center py-3"><span class="text-footer">© 2019</span><span class="text-primary text-bold"> Rajanna Mahila Bhadratha </span> <span class="text-footer">| All rights reserved</span>
                <!-- <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a> -->
        </div>
      </div>
      <div class="col-md-3 p-t-4 text-right footer-login-right">
          <span>Developed By</span>
          <img src="assets/images/otsi-logo.svg">
      </div>
  </div>
</div>
    </footer>