<div class="modal-header">
  <h5 class="modal-title">Driver Details of {{selectedDriverDetails.driverName}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('refreshContent')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-r-2">
    <div class="modal-newhead">
        <h5 class="modal-title">Driver Details</h5>
      </div>
  <div class="row row-m-b no-gutters">
      <div class="col-md-3">
          <img class="img-driver" *ngIf="driverImage !== ''" [src]="driverImage">
          <img class="img-driver" *ngIf="driverImage == ''" src="assets/images/ic_driverduty.svg" />
          <!--  <img [src]="driverImage"> -->
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 trip-driver-img">
                    <h5>Driver Name</h5>
                    <h4>{{selectedDriverDetails.driverName}}</h4>
                  </div>
                  <div class="col-md-6">
                      <h5>Gender</h5>
                      <h4>{{selectedDriverDetails.gender}}</h4>
                    </div>
                    <div class="col-md-6">
                        <h5>Contact No</h5>
                        <h4>{{selectedDriverDetails.contactNumber}}</h4>
                      </div>
                      <div class="col-md-6">
                          <h5>Address</h5>
                          <h4>{{selectedDriverDetails.stateName}}, {{selectedDriverDetails.districtName}}, {{selectedDriverDetails.cityName}}</h4>
                        </div>

            </div>
        </div>
</div>

<div class="modal-newhead">
    <h5 class="modal-title">Other Details</h5>
  </div>
<div class="row">
<div class="col-md-6">
<h5>Driver Licence No</h5>
<h4>{{selectedDriverDetails.dlNumber}}</h4>
</div>
<div class="col-md-6">
<h5>DL Expiry Date</h5>
<h4>{{selectedDriverDetails.dlExpiryDate}}</h4>
</div>

<div class="col-md-6">
<h5>Created Date</h5>
<h4>{{selectedDriverDetails.createdDate}}</h4>
</div>
<div class="col-md-6">
<h5>ID</h5>
<h4>{{selectedDriverDetails.driverId}}</h4>
</div>
<div class="col-md-6">
<h5>RF ID</h5>
<h4>{{selectedDriverDetails.rfId}}</h4>
</div>
<div class="col-md-6">
<h5>State</h5>
<h4>{{selectedDriverDetails.stateName}}</h4>
</div>
<div class="col-md-6">
<h5>District</h5>
<h4>{{selectedDriverDetails.districtName}}</h4>
</div>
<div class="col-md-6">
<h5>City</h5>
<h4>{{selectedDriverDetails.cityName}}</h4>
</div>
</div>

</div>

