<div class="modal-header">
  <h5 class="modal-title">Panic Details of {{selectedPanicDetails.distressId}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('refreshContent')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-r-2">
  <div class="row">
    <div class="col-md-6">
      <h5>ID</h5>
      <h4>{{selectedPanicDetails.distressId}}</h4>
    </div>
    <div class="col-md-6">
      <h5>RF ID</h5>
      <h4>{{selectedPanicDetails.rfId}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Driver Name</h5>
      <h4>{{selectedPanicDetails.driverName}}</h4>
    </div>
    <div class="col-md-6">
      <h5>DL Number</h5>
      <h4>{{selectedPanicDetails.dlNumber}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Vehicle No No</h5>
      <h4>{{selectedPanicDetails.rcNumber}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Serial Number</h5>
      <h4>{{selectedPanicDetails.serialNumber}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Driver Mobile No</h5>
      <h4>{{selectedPanicDetails.driverMobileNumber}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Citizen Mobile No</h5>
      <h4>{{selectedPanicDetails.citizenMobileNumber}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Trip Request Id</h5>
      <h4>{{selectedPanicDetails.tripRequestId}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Trip Id</h5>
      <h4>{{selectedPanicDetails.tripId}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Source LatLng</h5>
      <h4>{{selectedPanicDetails.sourceLatLang}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Source Location</h5>
      <h4>{{selectedPanicDetails.sourceLocation}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Destination LatLng</h5>
      <h4>{{selectedPanicDetails.destiLatLang}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Destination Location</h5>
      <h4>{{selectedPanicDetails.destiLocation}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Trip Request Time</h5>
      <h4>{{selectedPanicDetails.tripRequestTime}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Trip Closed</h5>
      <h4>{{selectedPanicDetails.closed}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Panic Location</h5>
      <h4>{{selectedPanicDetails.distressLocation}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Panic Type</h5>
      <h4>{{selectedPanicDetails.eventType}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Date</h5>
      <h4>{{selectedPanicDetails.packetDate}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Time</h5>
      <h4>{{selectedPanicDetails.packetTime}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Created Date</h5>
      <h4>{{selectedPanicDetails.createdDate}}</h4>
    </div>
  </div>
</div>