<div class="modal-header">
  <h5 class="modal-title">Device Communication Details of {{selectedCommDeviceDetails.imeiNumber}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('refreshContent')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-r-2">
  <div class="row">
    <div class="col-md-6">
      <h5>ID No</h5>
      <h4>{{selectedCommDeviceDetails.deviceCommunicationId}}</h4>
    </div>
    <div class="col-md-6">
      <h5>IMEIumber</h5>
      <h4>{{selectedCommDeviceDetails.imeiNumber}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Longitude</h5>
      <h4>{{selectedCommDeviceDetails.langitude}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Latitude</h5>
      <h4>{{selectedCommDeviceDetails.latitude}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Engine Status</h5>
      <h4>{{selectedCommDeviceDetails.engineStatus}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Ignition Status</h5>
      <h4>{{selectedCommDeviceDetails.ignitionStatus}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Network Date</h5>
      <h4>{{selectedCommDeviceDetails.networkDate}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Prev Langitude</h5>
      <h4>{{selectedCommDeviceDetails.prevLangitude}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Prev Latitude</h5>
      <h4>{{selectedCommDeviceDetails.prevLatitude}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Created Date</h5>
      <h4>{{selectedCommDeviceDetails.createdDate}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Location</h5>
      <h4>{{selectedCommDeviceDetails.location}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Prev Network Date</h5>
      <h4>{{selectedCommDeviceDetails.prevNetworkDate}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Prev Network Time</h5>
      <h4>{{selectedCommDeviceDetails.prevNetworkTime}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Panic Status</h5>
      <h4>{{selectedCommDeviceDetails.emergencyStatus}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Tamper Status</h5>
      <h4>{{selectedCommDeviceDetails.tamperAlert}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Status</h5>
      <h4>{{selectedCommDeviceDetails.status}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Is Over Speed</h5>
      <h4>{{selectedCommDeviceDetails.isDeviceOverSpeed}}</h4>
    </div>
    <div class="col-md-6">
      <h5>Updated Date</h5>
      <h4>{{selectedCommDeviceDetails.updatedDate}}</h4>
    </div>
  </div>
</div>